.main-class{
    background: url(../src/components/landing\ page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 749vh;
}
@media  screen and (max-width:720px){
    .main-class{
        position: relative;
    }
    

}
@media screen and (max-widht:570px){
    .main-class{
        position: relative;
    }
}
@media screen and (max-width:370px){
    .main-class{
        position: absolute;
        background-position: fixed;
    } 
}
